prefix = /usr/local/kong/
log_level = notice
plugins = rate-limiting
anonymous_reports = off
trusted_ips = 0.0.0.0/0
nginx_proxy_proxy_buffers = 4 256k
nginx_daemon = off
headers = off
dns_no_sync = true
database = postgres
pg_host = {{ pg_host }}
pg_user = {{ pg_user }}
pg_password = {{ pg_password }}
pg_database = {{ pg_database }}
pg_port = {{ pg_port }}
proxy_listen = {{ http_kong_host }}:{{ http_proxy_listen }}, {{ http_kong_host }}:{{ https_proxy_listen }} ssl
admin_listen = {{ http_kong_host }}:{{ http_admin_listen }}, {{ http_kong_host }}:{{ https_admin_listen }} ssl
