#!/bin/bash
### BEGIN INIT INFO
# Provides:          kong
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Kong custom service
# Description:       Kong service, allows to start, restart, stop Kong Api Gateway. Also can be used to check status (kong health)
### END INIT INFO

# Function that starts the service
start() {
    echo "Starting kong service..."
    nohup /usr/local/bin/kong start >/dev/null 2>&1 & disown
}

# Function that stops the service
stop() {
    echo "Stopping kong service..."
    nohup /usr/local/bin/kong stop >/dev/null 2>&1 & disown
}

# Function that restarts the service
restart() {
    echo "Restart kong service..."
    nohup /usr/local/bin/kong restart >/dev/null 2>&1 & disown
}

# Function that displays the status of the service
status() {
    kong health
}

# Handling the command line argument
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}"
        exit 1
        ;;
esac

exit 0
